.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #000000;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.logo-first-word {
  color: #2196f3;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #2196f3;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg {
  fill: #fff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-container {
    justify-content: left;
  }
}

@media screen and (max-width: 767px) {
  .logo-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .logo-menu-wrapper {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-menu-wrapper {
    margin-right: 93px;
  }
}

.menu-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-close-icon {
  display: none;
}

.menu-btn:hover .menu-btn-close-icon,
.menu-btn:focus .menu-btn-close-icon {
  fill: #2196f3;
}

.menu-btn.is-open .menu-btn-close-icon {
  display: block;
}

.menu-btn:hover .menu-btn-icon,
.menu-btn:focus .menu-btn-icon {
  fill: #2196f3;
}

.menu-btn.is-open .menu-btn-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav-address-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #ffffff;
  }
  .nav-address-wrapper.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav-address-wrapper {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.nav-list-link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-list-link:hover, .nav-list-link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .address-header-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.address-header-list-item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .address-header-list-item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .address-header-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.address-header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .address-header-link {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .address-header-link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.address-header-link:hover, .address-header-link:focus {
  color: #2196f3;
}

.letter-svg {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .letter-svg {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

.phone-svg {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone-svg {
    margin-right: 8px;
  }
}

.active {
  position: relative;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .active {
    padding-bottom: 12px;
  }
}

.active::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  display: inline-block;
  width: 61px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .active::after {
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .active::after {
    width: 100%;
    left: 0;
    bottom: -1px;
  }
}

@media screen and (max-width: 767px) {
  .active_port.active::after {
    width: 99px;
  }
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    margin-bottom: 94px;
  }
}

.menu-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .menu-portfolio {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-portfolio {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .menu-portfolio-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.menu-portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.menu-portfolio-btn {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-style: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-portfolio-btn:hover, .menu-portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.portfolio-item {
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .portfolio-item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: 370px;
  }
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
  display: inline-block;
}

.portfolio-link .portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-link .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-link .portfolio-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .portfolio-link:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio-link:nth-child(n + 7) {
    margin-bottom: 0px;
  }
}

.potfolio-content {
  width: 100%;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 20px 24px;
}

@media screen and (min-width: 480px) {
  .portfolio-description {
    padding: 77px 24px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-description {
    padding: 63px 24px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address-social-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-social-wrap {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer-social-side {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-side {
    margin-right: 93px;
  }
}

.footer-social-side-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 12px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-social-side .social-list {
  padding-bottom: 0px;
}

.footer-social-side .social-list-svg {
  fill: #ffffff;
}

.footer-social-side .social-list-link:hover {
  background: #2196f3;
}

.social-list-link {
  background: rgba(255, 255, 255, 0.1);
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .address-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .address-container {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .address-container {
    margin-right: 78px;
    text-align: left;
  }
}

.address-link-maps-foot,
.address-link-mail-foot,
.address-link-tel-foot {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link-maps-foot {
  color: #ffffff;
}

.form-subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-subscribe-wrapper {
    display: flex;
  }
}

.form-subscribe-input {
  padding: 15px 16px;
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}

@media screen and (min-width: 480px) {
  .form-subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.form-subscribe-input ::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe-input :focus {
  outline: none;
}

.form-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

@media screen and (max-width: 1200px) {
  .form-subscribe-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.form-subscribe-btn svg {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */