.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 94px;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.logo-first-word {
  color: #2196f3;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #2196f3;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg {
  fill: #fff;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list-item:not(:last-child) {
  margin-right: 52px;
}

.nav-list-link:hover, .nav-list-link:focus,
.nav .active {
  color: #2196f3;
  position: relative;
}

.nav-list-link:hover .nav-list-link::after, .nav-list-link:focus .nav-list-link::after,
.nav .active .nav-list-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  bottom: -33px;
}

.address-header {
  margin-left: auto;
}

.address-header-list {
  display: flex;
  align-items: center;
}

.address-header-list-item:not(:last-child) {
  margin-right: 30px;
}

.address-link-mail,
.address-link-tel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-mail:hover, .address-link-mail:focus, .address-link-mail:hover, .address-link-mail:focus,
.address-link-tel:hover,
.address-link-tel:focus,
.address-link-tel:hover,
.address-link-tel:focus {
  color: #2196f3;
}

.letter-svg,
.phone-svg {
  margin-right: 10px;
  fill: currentColor;
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-menu-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-menu-portfolio li:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  padding: 6px 22px;
  border-style: none;
  background-color: #f5f4fa;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover, .button-portfolio:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  cursor: pointer;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-child(n + 7) {
  margin-bottom: 0px;
}

.potfolio-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address-social-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-social-wrap {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer-social-side {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-side {
    margin-right: 93px;
  }
}

.footer-social-side-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 12px;
}

.address-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-social-side .social-list-svg {
  fill: #ffffff;
}

.footer-social-side .social-list-link:hover {
  background: #2196f3;
}

.social-list-link {
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767px) {
  .address-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .address-container {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .address-container {
    margin-right: 78px;
    text-align: left;
  }
}

.address-link-maps-foot,
.address-link-mail-foot,
.address-link-tel-foot {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-subscribe-wrapper {
    display: flex;
  }
}

.form-subscribe-input {
  padding: 15px 16px;
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}

@media screen and (min-width: 480px) {
  .form-subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.form-subscribe-input ::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe-input :focus {
  outline: none;
}

.form-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

@media screen and (max-width: 1200px) {
  .form-subscribe-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.form-subscribe-btn svg {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */