.advantage {
  padding-top: 60px;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 47px;
  }

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-list-item {
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
    &:nth-child(odd) {
      @media screen and (min-width: 768px) {
        margin-right: 30px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      @media screen and (min-width: 1200px) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }

  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
    color: $description-color;
  }

  .advantage-list-item {
    &::before {
      content: '';
      display: block;
      height: 120px;
      margin-bottom: 30px;
      background-color: #f5f4fa;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(1)::before {
      background-image: url(../images/advantage/antenna.svg);
    }
    &:nth-child(2)::before {
      background-image: url(../images/advantage/clock.svg);
    }
    &:nth-child(3)::before {
      background-image: url(../images/advantage/pc.svg);
    }
    &:nth-child(4)::before {
      background-image: url(../images/advantage/astronaut.svg);
    }
  }
}
