.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &-social-side {
    margin-right: 93px;

    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $secondary-color;
      padding-bottom: 20px;
      padding-top: 12px;
    }
  }

  &-list {
    display: flex;
  }

  &-left-side {
    margin-right: 70px;
  }
}

.address-link-maps-foot,
.address-link-mail-foot,
.address-link-tel-foot {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link-maps-foot {
  color: $secondary-color;
}

.address-list-footer {
  display: flex;
  flex-direction: column;

  & li:not(:last-child) {
    margin-bottom: 8px;
    margin-right: 0px;
  }
}

.footer-social-side {
  & .social-list-svg {
    fill: $secondary-color;
  }

  & .social-list-link:hover {
    background: $accent-color;
  }
}
.social-list-link {
  background: rgba(255, 255, 255, 0.1);
}

.form-subscribe {
  display: flex;
  justify-content: center;

  & :placeholder-shown {
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .input-form-subscribe {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: #2f303a;
    outline: none;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-right: 12px;
    color: $secondary-color;
  }

  .subscribe-btn {
    width: 200px;
    height: 50px;
    background: $accent-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: $accent-color;
    cursor: pointer;

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 28px;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      color: $secondary-color;
      fill: $secondary-color;
    }

    & svg {
      margin-left: 10px;
    }
  }
}
