.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms $main-timing-function, visibility 0ms linear 250ms;
  }
}

.modal {
  width: 528px;
  height: 581px;
  transform: scale(1) perspective(400px) rotateX(0deg);
  transition: transform 250ms $main-timing-function;
  background-color: $secondary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 15px;
  }

  .backdrop.is-hidden & {
    transform: scale(0.3) perspective(400px) rotateX(25deg);
    transition: transform 250ms $main-timing-function;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: #000000;
  outline: none;
  transition: fill 250ms $main-timing-function;

  &:hover {
    fill: $accent-color;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
    padding-bottom: 12px;
  }

  &-field {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: $description-color;
  }
  &-field-wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
  }

  &-input:focus,
  &-message:focus {
    outline: none;
    border: 1px solid $accent-color;
  }

  &-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms $main-timing-function;
  }

  &-message {
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    transition: border 250ms $main-timing-function;

    &:placeholder-shown {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &-message-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: $description-color;
    padding-bottom: 4px;
  }

  &-svg-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms $main-timing-function;

    .modal-form-input:focus + & {
      fill: $accent-color;
    }
  }

  &-policy-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $description-color;
    padding-bottom: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      margin-right: 7px;
      display: inline-block;
      width: 16px;
      height: 15px;
      border: 2px solid $main-color;
      border-radius: 2px;
      background-image: url(../images/modal/vector.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .modal-form-policy:checked + &::before {
      border: 1px solid $accent-color;
      background-color: $accent-color;
    }
  }

  .modal-form-policy-label a {
    text-decoration-line: underline;
    color: $accent-color;
  }
}
