.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;

  &-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms $main-timing-function;

    &:hover {
      background-color: $accent-color;
    }
  }

  &-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &-svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 250ms $main-timing-function;

    .social-list-link:hover & {
      fill: #fff;
    }
  }
}
